<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/update.css">
    <title>Update Employee</title>
</head>
<body>
  
    
    <% IdData.map((update)=> { %>
    <form method="post" action="/update/<%= update.id %>" >
        <h1>Employee Data</h1>

        <label for="Name">Name : </label>
        <input type="text" value="<%= update.name %>" name="name">
        <label for="Email">Email : </label>
        <input type="email" value="<%= update.details.email %>" name="email">

        <label for="description">About : </label>
        <textarea name="description"><%= update.description %> </textarea>

        <label for="Age">Age : </label>
        <input type="number" value="<%= update.details.age %>" name="age">
        <label for="phone">Pnone No. : </label>
        <input type="tel" value="<%= update.details.phone %>" name="phone">
        <label for="Image">Image URL : </label>
        <input type="url" value="<%= update.img %>" name="img">





        <button type="submit">Submit</button>
    </form>
    <% }) %>

</body>
</html>